body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  width: 600px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button#ask {
  font-size: 20pt;
  margin-left: 10pt;
  border-radius: 15px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-family: Arial, sans-serif; /* Set a pleasing font */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button#ask:hover {
  background-color: #45a049; /* Darker green on hover */
}

label {
  font-family: Arial, sans-serif; /* Set a pleasing font */
  font-size: 14pt; /* Set a readable font size */
  margin-left: 10px; /* Add some left margin */
  margin-right: 5px; /* Add some right margin */
  color: #45a049; /* Set a dark color for the text */
}

div#question {
  label {
    margin-left: 10px;
    margin-right: 5px;
  }
}
div#questions-answers {
  font-size: 10pt;
  display: flex;
  border: 3px inset beige;
  margin: 10px;
  padding: 5px;
}

div#questions, div#answers {
  flex: 1;
}